<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/dashboard.css')}}">
</head>

<body>
    <div class="topbar"></div>

    <div class="sidebar">
        <a class="#">Welcome&nbsp;&nbsp;<strong style="color: blueviolet;">{{user}}</strong></a>
        <a class="#active" href="{{ url_for('send') }}">Send</a>
        <a href="#news" href="#received">Received</a>
        <a href="#contact" href="#track">Track</a>
        <a href="#about" href="#about">About</a>
        <a class="#logout" href="{{ url_for('logout')}}">Logout</a>
    </div>

    <div class="content">
        {% block content%}{% endblock content%}
    </div>

</body>

</html>