{% extends "dashboard_base.html" %}
{% block content %}
<div class="receivedTab">
    <div class="form">
        <form action="{{ url_for('received') }}" method="post">
            <p>
                <input type="radio" name="options" value="1">Check For New Documents &nbsp;&nbsp;&nbsp;&nbsp;
                <input type="radio" name="options" value="2">Check All Received Documents
            </p>
            <p>
                <select name="docType">
                    <option value="all">All</option>
                    <option value="notice">Notice</option>
                    <option value="request">Request</option>
                </select>
            </p>
            <input type="submit" value="Submit">
        </form>
    </div>
</div>
<hr>
{% if error %}
{{ error }}
{% else %}
<div class="table">
    {% if option == 1 %}

    <div>
        <table>
            <tr>
                <th>No.</th>
                <th>Doc Name</th>
                <th>Sender</th>
                <th>Document type</th>
                <th>Date & Time</th>
                <th>Description</th>
                <th>Status</th>
            </tr>

            {% if docType == 'all' %}

            {% set count = [1] %}
            {% for i in cursor%}
            {% if (i['status'] == 0) %}
            <tr>
                <td> {{ count|length }} </td>
                <td> {{ i['filename'] }} </td>
                <td> {{ i['sender'] }} </td>
                <td> {{ i['docType'] }} </td>
                <td> {{ i['datetime'] }} </td>
                <td>{{ mongo.db.files.find_one({'filename': i['filename'] })['description'] }}</td>
                <td>
                    <a href="{{ url_for('changeStatus', filename = i['filename']) }}">
                        <button>Receive File</button>
                    </a>
                </td>
            </tr>
            {{ count.append(1) }}
            {% endif %}
            {% endfor %}

            {% else %}

            {% set count = [1] %}
            {% for i in cursor%}
            {% if (i['status'] == 0 and i['docType'] == docType) %}
            <tr>
                <td> {{ count|length }} </td>
                <td> {{ i['filename'] }} </td>
                <td> {{ i['sender'] }} </td>
                <td> {{ i['docType'] }} </td>
                <td> {{ i['datetime'] }} </td>
                <td>{{ mongo.db.files.find_one({'filename': i['filename'] })['description'] }}</td>
                <td>
                    <a href="{{ url_for('changeStatus', filename = i['filename']) }}">
                        <button>Receive File</button>
                    </a>
                </td>
            </tr>
            {{ count.append(1) }}
            {% endif %}
            {% endfor %}

            {% endif %}

        </table>
    </div>


    {% elif option == 2 %}

    <div>
        <table>
            <tr>
                <th>No.</th>
                <th>Doc Name</th>
                <th>Sender</th>
                <th>Document type</th>
                <th>Date & Time</th>
                <th>Description</th>
                <th>Status</th>
            </tr>

            {% if docType == 'all' %}

            {% set count = [1] %}
            {% for i in cursor%}
            {% if (i['status'] == 1) %}
            <tr>
                <td> {{ count|length }} </td>
                <td> {{ i['filename'] }} </td>
                <td> {{ i['sender'] }} </td>
                <td> {{ i['docType'] }} </td>
                <td> {{ i['datetime'] }} </td>
                <td>{{ mongo.db.files.find_one({'filename': i['filename'] })['description'] }}</td>
                <td>
                    <a href="{{ url_for('download', filename = i['filename']) }}">
                        <button>Download File</button>
                    </a>
                </td>
            </tr>
            {{ count.append(1) }}
            {% endif %}
            {% endfor %}

            {% else %}

            {% set count = [1] %}
            {% for i in cursor%}
            {% if (i['status'] == 1 and i['docType']==docType) %}
            <tr>
                <td> {{ count|length }} </td>
                <td> {{ i['filename'] }} </td>
                <td> {{ i['sender'] }} </td>
                <td> {{ i['docType'] }} </td>
                <td> {{ i['datetime'] }} </td>
                <td>{{ mongo.db.files.find_one({'filename': i['filename'] })['description'] }}</td>
                <td>
                    <a href="{{ url_for('download', filename = i['filename']) }}">
                        <button>Download File</button>
                    </a>
                </td>
            </tr>
            {{ count.append(1) }}
            {% endif %}
            {% endfor %}

            {% endif %}


        </table>
    </div>

    {% endif %}
</div>
{% endif %}

{% endblock content %}