{% extends "dashboard_base.html" %}
{% block content %}
<div class="receivedTab">
    <div class="form">
        <form action="{{ url_for('received') }}" method="post">
            <input type="radio" name="options" value="1">Check For New Documents &nbsp;&nbsp;&nbsp;&nbsp;
            <input type="radio" name="options" value="2">Check All Received Documents
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <input type="submit" value="Submit">
        </form>
    </div>
</div>
<hr>
<div class="table">
    {% if option == 1 %}
    {% set count = 1 %}
    <div>
        <table>
            <tr>
                <th>No.</th>
                <th>Doc Name</th>
                <th>Date & Time</th>
                <th>Description</th>
                <th>Status</th>
            </tr>

            {% for i in cursor%}
            {% if (i['status'] == 0) %}
            <tr>
                <td> {{ count }} </td>
                <td> {{ i['filename'] }} </td>
                <td> {{ i['datetime'] }} </td>
                <td>{{ mongo.db.files.find_one({'filename': i['filename'] })['description'] }}</td>
                <td>
                    <a href="{{ url_for('changeStatus', filename = i['filename']) }}">
                        <button>Receive File</button>
                    </a>
                </td>
            </tr>
            {% set count = count + 1 %}
            {% endif %}
            {% endfor %}
        </table>
    </div>


    {% elif option == 2 %}

    <div>
        <table>
            <tr>
                <th>No.</th>
                <th>Doc Name</th>
                <th>Date & Time</th>
                <th>Description</th>
                <th>Status</th>
            </tr>

            {% set count = 1 %}
            {% for i in cursor%}
            {% if (i['status'] == 1) %}
            <tr>
                <td> {{ count }} </td>
                <td> {{ i['filename'] }} </td>
                <td> {{ i['datetime'] }} </td>
                <td>{{ mongo.db.files.find_one({'filename': i['filename'] })['description'] }}</td>
                <td>
                    <a href="{{ url_for('download', filename = i['filename']) }}">
                        <button>Download File</button>
                    </a>
                </td>
            </tr>
            {% set count = count + 1 %}
            {% endif %}
            {% endfor %}
        </table>
    </div>

    {% endif %}
</div>
{% endblock content %}